body{

    
    background-image: url('WhatsApp\ Image\ 2024-11-25\ at\ 10.01.13.jpeg');
}

form{
    background-color: rgba(240, 191, 191, 0.653);
    
  margin: 0 auto;
  padding: 0px;
  width: 350px;
  height: 160vh;
  margin: 0 auto;
  background-size:cover ;
  background-position: center;
 max-width: 600px;
 padding: 20px;
 border-radius: 8px;

}

/* .card{
 display: flex;
 justify-content: center;
 align-items: center;
} */
 h1 ,h4{
    /* width: 50%;
  margin: 0 auto; */
  text-align: center;
  color: aliceblue;

}
 label{
    color: rgb(0, 0, 0);
    font-size: medium;
    
 }
button:hover{
    background-color: rgb(21, 100, 190);
}
button{
    width: 260px;
    padding: 10px;
    border: none;
    background-color: #3f3f67;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
[aria-label] {
    font-size: 1.2em;
   

}
/* Modifier la taille des cases */
input[type="checkbox"], input[type="radio"] {
    width: 20px;
    height: 20px;
  }
  
  /* Modifier leur apparence au survol */
  input[type="checkbox"]:hover, input[type="radio"]:hover {
    background-color: #ddd;
  }
  input{
    width: 350px;
    height: 30px;
  }
  select{
    width: 358px;
    height: 30px;
  }
  textarea{
    width: 350px;
    height: 100px;
  }